@import "mixins";

.main{
    display: grid;
    grid-template: auto 3fr 4fr auto / 1fr;
    grid-area: 
                "header"
                "hero"
                "form" 
                "footer";
    height: 100vh;
    .hero{
        
        @include backgroundValues("static/images/hero-mobile.jpg");
        
        grid: "hero";
    }
}
