@mixin backgroundValues($img,$type,$position1,$position2) {
    background-image: url("./#{$img}");
    background-repeat: no-repeat;
    background-size: $type;  
    background-position: $position1 $position2;
    --webkit-background-image: url("#{$img}");
    --webkit-background-repeat: no-repeat;
    --webkit-background-size: $type;
    --webkit-background-position: $position1 $position2;
}