@import "styles/mixins";
@import "styles/variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font
}
body{
    color: black;
    font-size: $text-size
}
.main{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr;
    grid-template-areas: 
                "header"
                "main"
                "form";
    height: auto;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 2rem;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)); 
    @media screen and (min-width:1200px) {
        grid-template-rows: 50px auto 1fr;
        grid-template-columns:  100px 3fr 2fr;
        grid-template-areas: 
                    ". . main"
                    ". header main"
                    ". form main";
        max-width: none;
        height: 100vh;
        min-height:646px;
        @include backgroundValues("static/images/bg-pattern-desktop.svg",cover, left ,center);
        padding-bottom: 0;
    }
    header{
        display: flex;
        align-items: center;
        padding: 1.5rem;
        grid-row-start: 1;
        grid-row-end: 2;
        .container__logo{
            height: 25px;

            img{
                height: 100%;
                width: auto;
                display: block
            }
            @media screen and (min-width:1200px){
                height: auto;
            }
        }
        @media screen and (min-width:1200px){
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        
    }
    .hero{
        display: flex;
        align-items: center;
        grid-row-start: 2;
        grid-row-end: 3;
        width: auto;
        height: auto;
        .container__img{
            height: 100%;
            width: 100%;
            img{
                width: 100%;
                height: auto;
                display: block
            }
        }
        h2{
            display: none;
        }
        @media screen and (min-width:1200px){
            grid-row-start: 1;
            grid-row-end: 4;
            grid-column-start: 3;
            grid-column-end: 4;
        } 
    }
    .container-form{
        width: 80%;
        margin: 1rem auto 0 auto;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
        color: $desaturated-red;
        h1{
            width: 80%;
            margin: 1rem auto;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .7rem;
            font-weight: 600;
            color:$dark-grayished;
            span{
                display: block;
                font-weight: 300;
                color: $desaturated-red;
            }
            @media screen and (min-width:1200px){
                font-size: 3.5rem;
                margin: 1rem 0
            }
        }
        p{
            font-size:14px;
            margin-bottom: 1.2rem;
            @media screen and (min-width:1200px){
                line-height: 1.5rem
            } 
        }
        .container__inputs{
            border: none;
            .container__input{
                display: flex;
                justify-content: center;
                align-content: center;
                position: relative;
                label{
                    display: none;
                }
                input{
                    width: 100%;
                    height: 2.5rem;
                    margin-bottom: .5rem;
                    padding: 1rem;
                    font-size: .7rem;
                    font-weight: bold;
                    text-align: start;
                    -webkit-appearance: textfield;
                    background-color: white;
                    -webkit-rtl-ordering: logical;
                    cursor: text;
                    color:$desaturated-red;
                    border: none;
                    box-shadow: none;
                    border: 1px solid $desaturated-red;
                    border-radius: 30px;
                    box-sizing: border-box;
                }
                button{
                    position: absolute;
                    right: -10px;
                    height: 2.5rem;
                    width: 3.5rem;
                    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                    box-shadow: none;
                    border:none;
                    border-radius: 30px;
                    cursor: pointer;
                    transition: all .10s ease;
                    &:hover{
                        background: linear-gradient(135deg, hsl(0, 80%, 91%), hsl(0, 74%, 79%));
                        box-shadow: 0 2px 2px rgba(0, 0, 0, .2)
                    }
                    &:active{
                        background: linear-gradient(135deg, hsl(0, 80%, 76%), hsl(0, 74%, 64%));
                        margin-top: .01rem
                    }
                    img{
                        height: 1rem;
                    }
                    @media screen and (min-width:1200px){
                        width: 5rem;
                        box-shadow: 0 5px 5px rgba(0, 0, 0, .2)
                    }
                }
            }
        }
        @media screen and (min-width:1200px){
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;
            align-self: center;
            width: 55%;
            padding-left: 1.5rem;
            margin: 2rem 0;
            text-align: left;
        }
    }
    
}
footer{
    margin: 1rem auto .5rem auto;
    color: $dark-grayished;
    .attribution { font-size: 11px; text-align: center !important; }
    .attribution a { color: hsl(228, 45%, 44%); }

}
/*These classes are add with js*/
.alert{
    margin-left: 1rem;
    font-size: 12px;
    text-align: left;
    color: $soft-red;
}
.input-alert{
    background: url('static/images/icon-error.svg') no-repeat;
    background-position: 80% center;
    border: 1px solid $soft-red !important;
}